{% extends "base.html" %}
{% block title %} Login {% endblock title %}

{% block content %}
    <div class="title">
        <h1 class="header_in_title">CHECKOUT STEP 1/3: Login</h1>
    </div>

    <!--    <div class="col-md-2">-->
    <!--        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
    <!--    </div>-->

     <div class="screen">
       <form method="POST" action="{{ url_for('login', session=session) }}">
            {{ form.csrf_token }}
            {{form.email.label}}
            {{form.email(size=50)}}
            <br>
            {{form.password.label}}
            {{form.password(size=50)}}
            <br>
            {{form.submit(class="btn btn-primary")}}
        </form>
        <BR>
        <div>
            New ? Sign up <a href="{{ url_for('signup', session=session) }}">here</a>
        </div>
        <div class="error_message">
            {{msg}}
        </div>
    </div>

{% endblock content%}